@import "tailwindcss";

html {
  font-family: "Space Grotesk";
}
/* Chrome, Edge, Safari SCROLLBAR STYLNG*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.3) transparent;
}

body {
  overflow-x: hidden;
}